.hide{
    display: none;
}

#cateTags{
    background-color: red;
    display: inline-block;
    color: white;
    padding: 5px 6px;
    margin-left: 15px;
    border-radius: 4px;
}


/* 搜索 */
.workorder-search{
    position: fixed;
    top: 20%;
    left: 40%;
    box-shadow: 0 0 10px #aacff9;
    z-index: 9999;
}

.workorder-search input{
    width: 800px;
    height: 50px;
    outline: none;
    border: 0;
    font-size: 18px;
    text-indent: 12px;

    cursor: context-menu;
}

.workorder-search .workorder-search-input{
    border-bottom: 2px solid rgb(222, 226, 230)
}

.workorder-cfn-list{
    max-height: 500px;
    overflow-x: hidden;

    background-color: white;
}

.workorder-cfn-list::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

.workorder-cfn-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: none;
    background-color: #8c24aa91;
}

/* .workorder-cfn-list .workorder-cfn-list-item:first-child{
    background-color: #dee2e6;
} */

.workorder-cfn-list .workorder-cfn-list-item{
    padding: 6px 12px;
}

/* 选中的分类 */
.workorder-cfn-list .workorder-cfn-list-item.active{
    background-color: #f5222d !important;
}

.workorder-cfn-list .workorder-cfn-list-item.active *{
    color: white !important;
}

.workorder-cfn-list .workorder-cfn-list-item:hover{
    background-color: #dee2e6;
}

.workorder-cfn-list .workorder-cfn-list-item-title{
    font-size: 16px;
    margin-bottom: 5px;

    color: #212121;
}
.workorder-cfn-list .workorder-cfn-list-item-desc{
    font-size: 12px;
    color: #929598;
}
/* 搜索 */



/* 按钮 */
.workorder-plug{
    position: fixed;
    right: 6%;
    bottom: 6%;
}

.workorder-plug-toggle-btn{
    display: flex;
}

.workorder-plug-toggle-btn .item-btn,.workorder-plug .plug-btn{
    display: flex;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.workorder-plug-toggle-btn .item-btn:first-child{
    margin-right: 30px;
}

.workorder-plug-toggle-btn .item-btn svg,.workorder-plug .plug-btn svg{
    margin-bottom: 10px;
}