.hide{
    display: none;
}

#cateTags{
    background-color: red;
    display: inline-block;
    color: white;
    padding: 5px 6px;
    margin-left: 15px;
    border-radius: 4px;
}


/* 搜索 */
.workorder-search,.workorder-search-faq{
    position: fixed;
    top: 20%;
    left: 40%;
    box-shadow: 0 0 10px #aacff9;
    z-index: 9999;
    font-family: cursive;
}

.workorder-search input,.workorder-search-faq input{
    width: 800px;
    height: 50px;
    outline: none;
    border: 0;
    font-size: 18px;
    text-indent: 12px;

    cursor: context-menu;
}

.workorder-search-input{
    background-color: white;
}

.workorder-search .workorder-search-input,.workorder-search-faq .workorder-search-input-faq{
    border-bottom: 2px solid rgb(222, 226, 230)
}

.workorder-cfn-list,.workorder-cfn-list-faq{
    max-height: 500px;
    overflow-x: hidden;

    background-color: white;
}

.workorder-cfn-list::-webkit-scrollbar,.workorder-cfn-list-faq::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

.workorder-cfn-list::-webkit-scrollbar-thumb,.workorder-cfn-list-faq::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: none;
    background-color: #8c24aa91;
}

/* .workorder-cfn-list .workorder-cfn-list-item:first-child{
    background-color: #dee2e6;
} */

.workorder-cfn-list .workorder-cfn-list-item,.workorder-cfn-list-faq .workorder-cfn-list-item{
    border-bottom: 1px solid #92959873;
    padding: 6px 12px;
}

/* 选中的分类 */
.workorder-cfn-list .workorder-cfn-list-item.active,.workorder-cfn-list-faq .workorder-cfn-list-item.active{
    background-color: #f5222d !important;
}

.workorder-cfn-list .workorder-cfn-list-item.active *,.workorder-cfn-list-faq .workorder-cfn-list-item.active *{
    color: white !important;
}

.workorder-cfn-list .workorder-cfn-list-item:hover,.workorder-cfn-list-faq .workorder-cfn-list-item:hover{
    background-color: #dee2e6;
}

.workorder-cfn-list .workorder-cfn-list-item-title,.workorder-cfn-list-faq .workorder-cfn-list-item-title{
    font-size: 16px;
    margin-bottom: 5px;

    color: #212121;
}
.workorder-cfn-list .workorder-cfn-list-item-desc,.workorder-cfn-list-faq .workorder-cfn-list-item-desc{
    font-size: 12px;
    color: #929598;
}
/* 搜索 */



/* 按钮 */
.workorder-plug{
    position: fixed;
    right: 6%;
    bottom: 6%;
}

.workorder-plug-toggle-btn{
    display: flex;
}

.workorder-plug-toggle-btn .item-btn,.workorder-plug .plug-btn{
    display: flex;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.workorder-plug-toggle-btn .item-btn:first-child{
    margin-right: 30px;
}

.workorder-plug-toggle-btn .item-btn svg,.workorder-plug .plug-btn svg{
    margin-bottom: 10px;
}

/* 统计 */
.workorder-plug-tip{
    position: fixed;
    top: 17px;
    left: 50%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: translateX(-50%);
    z-index: 999999999999999999;
}

.workorder-plug-tip .plug-tip-item{
    margin-right: 12px;

    display: flex;
    align-items: center;
}

.workorder-plug-tip .clearAlreadyWorkOrder{
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: 0;
}

/* 复制 */
.showMessage {
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 15%;
    left: 50%;
    color: #ffffff;
    z-index: 999;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;

    padding: 15px 30px;
    border-radius: 10px;
    background-color: white;
}
 
.showMessageSuccess {
    border: 1px solid #E1F3D8;
    color: #67c23a;
}
 
.showMessageError {
    background-color: #fef0f0;
    border: 1px solid #fde2e2;
    color: #F76C6C;
}
/* 复制 */

#table_excel{
    background-color: white;
    position: relative;
}

#table_excel td{
    border: 1px solid;
}

#workOrderClassification{
    height: 50px;
    margin-left: 8px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-right: 1px solid #9295987d;
    font-family: cursive;
}
.workorder-cfn-list-faq .workorder-cfn-list-item-desc{
    font-size: 20px;
}

#workorder-search-keywords-faq,#workorder-search-keywords{
    font-family: cursive;
}