.google-page-edit-plugin ul {
    margin: 0;
    padding: 0;
}

.google-page-edit-plugin .screen-window-container li {
    position: relative;
    margin-right: 18px;
    display: inline-block;
    cursor: pointer;
}

.google-page-edit-plugin .screen-window-container li:last-child{
    margin-right: 0;
}

.google-page-edit-plugin .screen-window-container li.screen-on {
    fill: #0089f5;
}

.google-page-edit-plugin .screen-window-container a {
    display: block;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    text-decoration: none;
}

.google-page-edit-plugin .top-windowChoose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);

    height: 56px;

    padding: 0 25px;
    box-sizing: border-box;
}
.google-page-edit-plugin .top-right-export{
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);

    z-index: 5;
}
.google-page-edit-plugin .top-right-export button {
    width: 126px;
    height: 32px;
    background: #008cff;
    border-radius: 4px;
    outline: none;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;

    cursor: pointer;
}
.google-page-edit-plugin .top-left-outline{
    display: flex;

    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);

    z-index: 5;
}

.google-page-edit-plugin .top-left-outline.active svg{
    fill: white;
    width: 32px;
    height: 32px;
    background: #008cff;
    border: 1px solid #d8dbe6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-page-edit-plugin .top-left-outline svg {
    background: #ffffff;
    border: 1px solid #d8dbe6;
    border-radius: 4px;

    cursor: pointer;
    box-sizing: border-box;
}

.google-page-edit-plugin .top-windowChoose-bd {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-page-edit-plugin .screen-window-container {
    text-align: center;
}

.google-page-edit-plugin .screen-window-container span {
    display: none;
    position: absolute;
    font-size: 14px;
    left: 50%;
    margin-left: -40px;
    top: 40px;
    width: 80px;
    padding: 8px 0;
    font-family: 'Microsoft yahei';
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    text-align: center;
    color: #30adfb;
    background-color: #fff;
}

.google-page-edit-plugin .screen-icon-screen {
    background-image: url(//g2.leadongcdn.cn/cloud/lmBprKkjlmSRojkqjokjio/pc.png);
}

.google-page-edit-plugin .screen-icon-panel-x {
    background-image: url(//g2.leadongcdn.cn/cloud/loBprKkjlmSRojkqjolpiq/pad.png);
}

.google-page-edit-plugin .screen-icon-mobile-y {
    background-image: url(//g2.leadongcdn.cn/cloud/lnBprKkjlmSRojkqjokpiq/shouji00.png);
}

/* 相似元素 */
#resembleElementContainer .resemble{
    position:absolute;
}
/* 相似元素 */